/* You can add global styles to this file, and also import other style files */

.layer-switcher {
  top: .5em !important;
  /*background-color: rgba(0, 60, 136, 1) !important;*/
}

.layer-switcher button {
  background-color: rgba(0, 60, 136, 1) !important;
  color: white !important;
  /*border: 4px solid #eee !important;*/
}

.layer-switcher .panel {
  color: white !important;
  background-color: rgba(0, 60, 136, 1) !important;
  /*border: none !important;*/
}

.ol-control {
  background-color: rgba(0, 60, 136, 1) !important;
  border: 0.5px solid #eee !important;
}

.layer-switcher.shown.ol-control {
  background-color: transparent !important;
  border: none !important;
}

.layer-switcher button:focus, .layer-switcher button:hover {
  background-color: rgba(0, 60, 136, 1) !important;
}
